@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body, html {
  z-index: -2;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

#game-container {
  z-index: 0;
  background-image: url(./images/background.png);
  width: 100%;
  height: 100%;
  position: relative;
  cursor: none;
  /* margin-bottom: 50px; */
}

#background{
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-image: url(./images/background.png);
  opacity: 0.8;
  height: 100%;
}

#player {
  margin-bottom: 5%;
  height: 300px;
  position: absolute;
  bottom: 0;
}

#bonus {
  z-index: 2;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#antiBonus {
  z-index: 2;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.stalagtite {
  z-index: 2;
  width: 100px;
  /* height: 90px; */
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#newLife {
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#coin {
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#bomb {
  z-index: 2;
  width: 90px;
  height: 90px;
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#moreBomb {
  z-index: 2;
  width: 90px;
  height: 90px;
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#score {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  color: #efefef;
  font-size: 3rem;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  cursor: none;
}

#bestScore{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #efefef;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.6rem;
}

#gameOver{
  text-align: center;
  color: #efefef;
  font-size: 2.8rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#gameOverSection{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 20%; */
}

a{
  margin-top: 10px;
}

a{
  text-decoration: none;
}

#life{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  cursor: none;
}

#copyright{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #222;
  font-family: 'Press Start 2P',sans-serif;
  font-size: 0.9rem;
}

.animatedHit{
  animation: 1s getHitted;
}

@keyframes getHitted{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#audioOption{
  position: absolute;
  bottom: 0;
  right: 50px;
  cursor: pointer;
}

#audioIcon{
  width: 80px;
}

.button-53 {
  background-color: var(--light-shadow);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #efefef;
  display: flex;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.75rem;
  margin: 40px 25px;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 25%;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

.wrapper {
  width: 80%;
  margin-top: 10%;
  display: grid;
  grid-template-areas: 'overlap';
  text-transform: uppercase;
}
.wrapper > div {
  background-clip: text;  
  text-align: center;
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: clamp( 2em, 14vw, 13rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
  font-family: 'Press Start 2P', sans-serif;
}
div.fg{
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scale(1);
  font-family: 'Press Start 2P', sans-serif;
}